body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #EEEEEE;
}

.container-main {
  background-color: #E6E6E6;
  margin: 10px;
  border-radius: 10px;
  padding: 20px 40px;
  min-height: calc(100vh - 65px);
}

.header-main {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100px;
}

.logo {
  height: 100%;
}

.container-tabs {
  width: 85%;
  
}

.tabs {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  cursor: pointer;
  text-decoration:none
}

.tab md-icon {
  color: #193948;
}

.lbl-tab {
  font-size: 11px;
  color: #193948;
}

.tab-active {
  background-color: #193948;
}

.tab-active md-icon {
  color: #ffffff !important;
}

.tab-active .lbl-tab {
  color: #ffffff !important;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
  color: #CFCDCB;
}

.vertical-divider.partial{
  height: 80% !important;
}