<!doctype html>
<html lang="en" ng-app="starkCoreApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="lib/angularjs-datetime-picker/angularjs-datetime-picker.css">
  <link rel="stylesheet" href="lib/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="app.css" />
  <link rel="stylesheet" href="views/views.css" />
  <link rel="stylesheet" href="shared/shared.css" />
  <title></title>
</head>


<script src="lib/angular/angular.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-route/angular-route.js"></script>

<script src="app.module.js"></script>
<script src="app.config.js"></script>
<script src="app.js"></script>

<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-messages/angular-messages.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src="lib/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>

<script src="views/views.module.js"></script>
<script src="views/home/home.component.js"></script>
<script src="views/account/account.component.js"></script>
<script src="views/messages/messages.component.js"></script>
<script src="views/wishlist/wishlist.component.js"></script>
<script src="views/settings/settings.component.js"></script>

<script src="shared/shared.module.js"></script>
<script src="shared/filter-list/filter-list.component.js"></script>


<body ng-controller="mainCtrl">
  <div class="container-main">


    <div layout="row" class="header-main">
      <div class="container-logo">
        <img src="img/logo.png" class="logo">
      </div>
      <div class="container-tabs">
        <div class="tabs">
          <a class="tab" ng-href='#!/home' ng-click="change(0)" ng-class="isActive(0)">
            <div>
              <md-icon>home</md-icon>
            </div>
            <div class="lbl-tab">Home</div>
          </a>
          <a class="tab" ng-href='#!/messages' ng-click="change(1)" ng-class="isActive(1)">
            <div>
              <md-icon>mail_outline</md-icon>
            </div>
            <div class="lbl-tab">Messages</div>
          </a>
          <a class="tab" ng-href='#!/wishlist' ng-click="change(2)" ng-class="isActive(2)">
            <div>
              <md-icon>star</md-icon>
            </div>
            <div class="lbl-tab">Wishlist</div>
          </a>
          <a class="tab" ng-href='#!/settings' ng-click="change(3)" ng-class="isActive(3)">
            <div>
              <md-icon>settings</md-icon>
            </div>
            <div class="lbl-tab">Settings</div>
          </a>
          <a class="tab" ng-href='#!/account' ng-click="change(4)" ng-class="isActive(4)">
            <div>
              <md-icon>person</md-icon>
            </div>
            <div class="lbl-tab">My account</div>
          </a>
        </div>
      </div>

    </div>

    <div ng-view></div>
  </div>
</body>

</html>