<div class="home">
  <div class="filters">
    <filter-list></filter-list>
  </div>

  <div class="container-list">

    <md-button class="md-fab md-primary btn-add" aria-label="add" ng-click="add($event)" ng-if="login.user">
      <md-icon>add</md-icon>
    </md-button>

    <div class="container-search" ng-if="login.user">
      <md-input-container class="md-icon-float md-block field-search">
        <label>Search</label>
        <md-icon>search</md-icon>
        <input ng-model="filter" type="text" ng-change="filterChange()">
      </md-input-container>
    </div>

    <div class="container-login" ng-if="!login.user">
      <h1>You will need to Log in for see your information</h1>
    </div>

    <div class="container-delivery" ng-repeat="item in items" ng-if="login.user">
      <div style="width: 10%" layout="row" layout-align="center center">
        <md-icon class="check-list" ng-class="{'delivery': item.status}">check_circle</md-icon>
      </div>
      <div layout="row" layout-align="start center" class="detail-delivery">
        <div class="detail-column column-1" layout="column">
          <div>{{ item.datetime | date : 'EEEE'}}</div>
          <div>{{ item.datetime | date : 'dd hh:mm':'-0000'}}</div>
          <div>{{ item.datetime | date : 'a':'-0000'}}</div>
        </div>
        <md-divider class="vertical-divider partial"></md-divider>
        <div class="detail-column column-2" layout="row">
          <div flex="33" layout="row" layout-align="center center">
            <md-icon>near_me</md-icon>
          </div>
          <div flex="66" layout="column" layout-align="center center">
            <div> {{item.origin}}</div>
            <div>
              <md-icon class="arrow_down">keyboard_arrow_down</md-icon>
            </div>
            <div> {{item.destination}}</div>
          </div>
        </div>
        <md-divider class="vertical-divider partial"></md-divider>
        <div layout="row" class="detail-column column-3">
          <md-icon class="vehicle">local_shipping</md-icon>
        </div>
        <div layout="row" class="detail-column column-4">
          {{item.value | currency:undefined:0}}
        </div>
        <div layout="row" class="detail-column column-5">
          <div class="box"> {{item.quantity}}</div>
        </div>
        <div layout="row" class="detail-column column-6">
          <md-menu>
            <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="deleteItem($index)">Delete
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </div>
  </div>
</div>