.swith-filter md-switch.md-default-theme .md-bar,
.swith-filter md-switch .md-bar {
  background-color: #193948 !important;
}

.swith-filter md-switch.md-default-theme.md-checked:not([disabled]).md-primary .md-bar,
.swith-filter md-switch.md-checked:not([disabled]).md-primary .md-bar {
  background-color: rgba(25, 57, 72, 0.5) !important;
}

.filter-list {
  width: 60%;
  margin: 0 auto
}

.filter-list .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.filter-list .header>* {
  margin: 10px 5px;
}

md-icon{
  color: #193948;
}