<div class="wishlist">
  <md-list flex>
    <div class="md-toolbar-tools" ng-if="login.user">
      <span>MY WISH LIST</span>
    </div>
    <div class="container-login" ng-if="!login.user">
      <h1>You will need to Log in for see your information</h1>
    </div>
    <md-list-item class="md-3-line" ng-repeat="item in todos">
      <img ng-src="{{item.face}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>{{ item.who }}</h3>
        <h4>{{ item.what }}</h4>
        <p>{{ item.notes }}</p>
      </div>
    </md-list-item>
  </md-list>
</div>