<div class="filter-list">
  <div class="header">
    <div>
      <md-icon md-svg-icon="lightbulb"></md-icon>
    </div>
    <div>Smart Filters</div>
  </div>
  <md-divider></md-divider>

  <div class="swith-filter">
  <div layout="row" layout-align="space-around center">
    <div>
      <md-icon style="font-size: 48px; height: 48px; width: 48px;" md-svg-icon="sale"></md-icon>
    </div>
    <md-switch style=" transform: scale(2);" class="md-primary" ng-model="data.cb1" aria-label="Switch 1"> </md-switch>
  </div>

  <div layout="row" layout-align="space-around center">
    <div>
      <md-icon style="font-size: 48px; height: 48px; width: 48px;" md-svg-icon="calendar"></md-icon>
    </div>
    <md-switch style=" transform: scale(2);" class="md-primary" ng-model="data.cb1" aria-label="Switch 1"> </md-switch>
  </div>

  <div layout="row" layout-align="space-around center">
    <div>
      <md-icon style="font-size: 48px; height: 48px; width: 48px;" md-svg-icon="heart"></md-icon>
    </div>
    <md-switch style=" transform: scale(2);" class="md-primary" ng-model="data.cb1" aria-label="Switch 1"> </md-switch>
  </div>
</div>
</div>