<div class="filter-list" layout="row">
  <div class="filter-main">
    <div class="container-filter">
      <div class="header">
        <div>
          <md-icon md-svg-icon="lightbulb"></md-icon>
        </div>
        <div>Smart Filters</div>
      </div>
      <md-divider></md-divider>

      <div class="switch-filter">
        <div>
          <md-icon ng-class="{'icon-active': filters.sale}" md-svg-icon="sale"></md-icon>
        </div>
        <md-switch class="md-primary" ng-model="filters.sale" aria-label="Switch 1">
        </md-switch>
      </div>

      <div class="switch-filter">
        <div>
          <md-icon ng-class="{'icon-active': filters.date}" md-svg-icon="calendar"></md-icon>
        </div>
        <md-switch class="md-primary" ng-model="filters.date" aria-label="Switch 1">
        </md-switch>
      </div>

      <div class="switch-filter">
        <div>
          <md-icon ng-class="{'icon-active': filters.like}" md-svg-icon="heart"></md-icon>
        </div>
        <md-switch class="md-primary" ng-model="filters.like" aria-label="Switch 1">
        </md-switch>
      </div>

      <md-divider></md-divider>

      <div class="header">
        <div>Status</div>
      </div>
      <md-select ng-model="filters.status" ng-change="statusChange()" aria-label="statuz">
        <md-option value="">Select a status</md-option>
        <md-option value="0">No delivered</md-option>
        <md-option value="1">Delivered</md-option>

      </md-select>
    </div>
  </div>
  <div class="filter-divider">
    <md-divider class="vertical-divider"></md-divider>
  </div>
</div>