.home {
  display: flex;
  flex-direction: row;
}

.home .filters {
  width: 15%;
}

.home .container-list {
  width: 85%;
  display: flex;
  align-items: flex-end;
  flex-direction: column
}

.container-search {
  width: 98%;
  display: flex;
  justify-content: flex-end;
}

.field-search {
  width: 40%;
}

.container-delivery {
  display: flex;
  align-items: center;
  width: 98%;
  height: 100px;
}

.container-delivery .check-list {
  font-size: 55px;
  height: 55px;
  width: 55px;
  color: #EE8D38
}

.container-delivery .detail-delivery {
  width: 90%;
  border-radius: 30px;
  background-color: #ffF;
  height: 100%;
}

.container-delivery .detail-column {
  height: 100%;
  display: flex;
  align-items: center;
}

.column-1 {
  width: 20%;
  justify-content: center;
}

.column-2 {
  width: 25%;

}

.column-2 md-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

.column-2 md-icon.arrow_down {
  color: #EAA75D;
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.column-3 {
  width: 20%;
}

.column-3 md-icon.vehicle {
  font-size: 70px;
  height: 70px;
  width: 70px;

  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.column-4 {
  width: 20%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.54);
}

.column-5 {
  width: 5%;
}

.column-5 .box {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #ED5356;
  color: #ffF;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-add {
  position: absolute;
  right: 100px;
  bottom: 100px;
  background-color: #EE8D38 !important
}

/* TEMPLATE ADD*/

.md-toolbar-tools h2 {
  color: #ffF
}

.md-toolbar-tools md-icon {
  color: #ffF !important
}

.dialog-add {
  min-width: 580px !important;
}

.btn-save-add {
  color: #ffF !important
}

.dialog-add md-input-container {
  min-height: 54px;
}